.card {
    background: rgb(255, 255, 255) !important;
    margin: 2px;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.CardButton {
    background: rgb(150, 179, 192) !important;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.list-group-item + .list-group-item {
    border: none;
    padding: 0.25rem 1.25rem;
}

.list-group-item:first-child {
    border: none;
    padding: 0.25rem 1.25rem;
}
